<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <i class="fa fa-info-circle"></i> <strong> - Importante</strong>
        </div>
        <div class="panel-body">
          <p>Todas as informações presentes nesta api estão sendo fornecidas pelo PORTAL BRASILEIRO DE DADOS ABERTO <br>
            Essas informações podem ser consultada no link <a href="https://dados.gov.br/dataset" target="_blank"
              rel="noopener noreferrer">Link</a>
            <br> Ultima data em que foi consultado as informações dia 12/11/2020.
          </p>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <i class="fa fa-warning"></i> <strong> - Observações</strong>
        </div>
        <div class="panel-body">
          <p>Sistema feito com intuito de aprentizado sobre consumo de dados aberto e visualização dos mesmo de forma mais amigavel com gráficos.</p>
          <p>Tecnologias utilizadas: </p>

          <ul>
            <strong>principais*</strong>
            <li>Spring Boot 2.3 - JAVA</li>
            <li>Angular 9 - TypeScript</li>
<br>
            <strong>Auxiliares*</strong>
            <li>JavaScript</li>
            <li>botstrap 4</li>
            <li>HTML 5</li>
            <li>CSS 3</li>
            <li>ng2-charts</li>
            <li>CharJs</li>
          </ul>

          <br>
          <p>Sistemas disponiveis no links abaixo: </p>
          <a href="https://github.com/Mardoniosc/api-staticas-multas-detran-df" target="_blank" rel="noopener noreferrer">Backend</a>
          <br>
          <a href="#" target="_blank" rel="noopener noreferrer">FrontEnd - não disponivel ainda</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <i class="fa fa-info"></i> <strong> - Crédito</strong>
        </div>
        <div class="panel-body">
          <p>Todo o layout e personalização foi feito com base no <strong>Template INSPINIA</strong> disponivel <a href="http://webapplayers.com/inspinia_admin-v2.9.3/" target="_blank" rel="noopener noreferrer">neste Link</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
